<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">

		<meta content="" name="description">
		<meta content="" name="author">

		<title>{{ .Title }}</title>

		<link rel="icon" href="/oauth2-proxy/assets/favicon.ico">
		<link rel="stylesheet" href="/oauth2-proxy/assets/proxy.css" />
	</head>
	<body>
		{{ yield }}

		<script src="/oauth2-proxy/assets/proxy.js"></script>
	</body>
</html>
