<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">

		<meta content="" name="description">
		<meta content="" name="author">

		<title>{{ .Title }}</title>

		<link rel="icon" href="{{ .Root }}/assets/favicon.ico">
		<link rel="stylesheet" href="{{ .Root }}/assets/proxy.css" />
	</head>
	<body>
		<div class="uk-height-1-1 uk-flex uk-flex-center uk-flex-middle">
			<div class="uk-card uk-card-default uk-card-hover uk-card-body">
				<h1 class="uk-card-title">
					{{ .Title }}
				</h1>

				{{ if ne .Error "" }}
					<div class="uk-alert-danger" uk-alert>
						<p>
							{{ .Error }}
						</p>
					</div>
				{{ end }}

				<div class="uk-padding uk-padding-remove-left uk-padding-remove-right">
					<ul class="uk-list">
						<li>
							<a class="uk-button uk-button-default uk-button-large uk-width-1-1" href="{{ .Root }}/gitlab/auth">
								Authenticate with <img class="provider" src="{{ .Root }}/assets/gitlab.svg" alt="Gitlab" title="Gitlab">
							</a>
						</li>
						<li>
							<a class="uk-button uk-button-default uk-button-large uk-width-1-1" href="{{ .Root }}/github/auth">
								Authenticate with <img class="provider" src="{{ .Root }}/assets/github.svg" alt="GitHub" title="GitHub">
							</a>
						</li>
						<li>
							<a class="uk-button uk-button-default uk-button-large uk-width-1-1" href="{{ .Root }}/bitbucket/auth">
								Authenticate with <img class="provider" src="{{ .Root }}/assets/bitbucket.svg" alt="Bitbucket" title="Bitbucket">
							</a>
						</li>
					</ul>
				</div>

				<button
					class="uk-position-bottom-right uk-padding-small"
					uk-icon="icon: info"
					uk-toggle="target: #info"
					type="button"></button>
			</div>
		</div>

		<div id="info" uk-modal>
			<div class="uk-modal-dialog">
				<div class="uk-modal-header">
					<h2 class="uk-modal-title">
						Information
					</h2>
				</div>

				<div class="uk-modal-body" uk-overflow-auto>
					<p>
						<strong>
							Copyright &copy; 2018 Thomas Boerger. All rights reserved. Made with ❤ in Germany.
						</strong>
					</p>

					<p>
						This tool is powered by <a href="https://github.com/webhippie/oauth2-proxy" target="_blank">OAuth2 Proxy</a> to provide a solid authentication for every web application. If you find any issue you can report it on <a href="https://github.com/webhippie/oauth2-proxy/issues" target="_blank">our issue tracker</a>.
					</p>

					<p>
						If you just got issues to authenticate for the requested service please get in touch with your administrator, I'm sure you know how to contact him.
					</p>
				</div>

				<button class="uk-modal-close-default" type="button" uk-close></button>
			</div>
		</div>

		<script src="{{ .Root }}/assets/proxy.js"></script>
	</body>
</html>

